/* ========================================
   KV (Key Visual)
   ======================================== */
[data-product] section.kv {
  position: relative;
  background-color: #ffffff;
}
[data-product] section.kv .view-pc {
  display: block;
}
[data-product] section.kv .view-mo {
  display: none;
}
@media screen and (max-width: 769px) {
  [data-product] section.kv .view-pc {
    display: none;
  }
  [data-product] section.kv .view-mo {
    display: block;
  }
}
[data-product] section.kv .kv-swiper {
  position: relative;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
[data-product] section.kv .kv-swiper .kv-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  max-width: 1920px;
}
[data-product] section.kv .kv-swiper .kv-image img {
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
}
[data-product] section.kv {
  /* swiper-navigation */
}
[data-product] section.kv .swiper-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 48px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
[data-product] section.kv .swiper-navigation .swiper-button-prev,
[data-product] section.kv .swiper-navigation .swiper-button-next {
  color: #ffffff;
}
[data-product] section.kv .swiper-navigation .swiper-button-prev {
  left: 10px;
}
[data-product] section.kv .swiper-navigation .swiper-button-next {
  right: 10px;
}
@media screen and (max-width: 769px) {
  [data-product] section.kv .swiper-navigation {
    display: none;
  }
}
[data-product] section.kv {
  /* swiper-pagination */
}
[data-product] section.kv .swiper-pagination:not(.swiper-pagination-bullets-dynamic) {
  --swiper-pagination-bottom: 30px;
}
@media screen and (max-width: 769px) {
  [data-product] section.kv .swiper-pagination:not(.swiper-pagination-bullets-dynamic) {
    --swiper-pagination-bottom: 28px;
  }
}
[data-product] section.kv .swiper-pagination:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet {
  width: 56px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
  border-radius: 0;
  opacity: 1;
}
[data-product] section.kv .swiper-pagination:not(.swiper-pagination-bullets-dynamic) .swiper-pagination-bullet-active {
  background-color: #ffffff;
}
[data-product] section.kv {
  /* dynamic paging */
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] {
  position: absolute;
  width: fit-content;
  left: 50%;
  bottom: 3.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transform: translateX(-50%);
  z-index: 1;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-navigation {
  width: calc(100% + 80px);
  height: 40px;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  --swiper-navigation-size: 20px;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-navigation .swiper-button-prev {
  left: 0;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-navigation .swiper-button-next {
  right: 0;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination {
  position: relative;
  --swiper-pagination-bottom: 0;
  flex: none;
  display: flex;
  justify-content: right;
  gap: 2px;
  width: 45px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  letter-spacing: -0.32px;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars .paging-bar {
  width: 32px;
  height: 4px;
  background-color: #ffffff;
  opacity: 0.3;
  transition: background-color 250ms ease-in-out;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars.prev .paging-bar:first-child {
  background: linear-gradient(90deg, #000 0%, #D9D9D9 100%);
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars.next .paging-bar:last-child {
  background: linear-gradient(90deg, #D9D9D9 0%, #000 100%);
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars[data-active-index="1"] .paging-bar:nth-child(1) {
  opacity: 1;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars[data-active-index="2"] .paging-bar:nth-child(2) {
  opacity: 1;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars[data-active-index="3"] .paging-bar:nth-child(3) {
  opacity: 1;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars[data-active-index="4"] .paging-bar:nth-child(4) {
  opacity: 1;
}
[data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars[data-active-index="5"] .paging-bar:nth-child(5) {
  opacity: 1;
}
@media screen and (max-width: 769px) {
  [data-product] section.kv .paging-wrapper[data-type=dynamic_paging] {
    bottom: 30px;
  }
  [data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination {
    width: 35px;
    font-size: 12px;
  }
  [data-product] section.kv .paging-wrapper[data-type=dynamic_paging] .swiper-pagination-bars .paging-bar {
    width: 30px;
  }
}
/*# sourceMappingURL=key_visual.css.map */
