/* ========================================
   Screenshots - NatGeo
   ======================================== */
[data-product='marvel'][data-current-theme='01']
  section.screenshots
  .theme-header-wrapper::before {
  background-image: url('../../../images/kia/pdp/marvel/sec02_detail_bg.png');
}
[data-product='marvel'][data-current-theme='02']
  section.screenshots
  .theme-header-wrapper::before {
  background-image: url('../../../images/kia/pdp/marvel/sec02_detail_bg.png');
}
[data-product='marvel'][data-current-theme='03']
  section.screenshots
  .theme-header-wrapper::before {
  background-image: url('../../../images/kia/pdp/marvel/sec02_detail_bg.png');
}
