@charset "UTF-8";
@import url("key_visual-fifa.css");
@import url("themes-fifa.css");
@import url("playful-fifa.css");
@import url("theme-selectors.css");
@import url("experience-fifa.css");
/* sticky 처리 */
[data-product=fifa] .sticky-layout {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  width: 100%;
  position: relative;
  padding: 0;
}

[data-product=fifa] .sticky-track {
  grid-column: 1/-1;
  grid-row: 2/-1; /* 여기서부터 끝까지 살아남음 */
  z-index: 10; /* 컨텐츠보다 위 */
  pointer-events: none; /* 중요: 트랙 영역이 넓어도 클릭은 뒤로 통과시킴 */
  height: 100%;
}

[data-product=fifa] .playful-background {
  grid-column: 1/-1;
  grid-row: 1/4;
  z-index: 0;
}

[data-product=fifa] section.playful {
  grid-column: 1/-1;
  z-index: 1;
}

[data-product=fifa] section.playful.playful-header {
  grid-row: 1;
}

[data-product=fifa] section.playful.playful-content {
  grid-row: 3; /* Row 2는 버튼 자리이므로 비워둠 */
}

[data-product=fifa] section.experience {
  grid-row: 4;
  grid-column: 1/-1;
}

[data-product=fifa] section.info {
  grid-row: 5;
  grid-column: 1/-1;
}

[data-product=fifa] section.upgrade-guides {
  grid-row: 6;
  grid-column: 1/-1;
}