/* ========================================
   Playful - FIFA
   ======================================== */
[data-product='fifa'] {

  // 테마별 배경 이미지 자동 생성
  @for $i from 1 through 17{
    $theme: if($i < 10, '0#{$i}', '#{$i}');
    // 부모의 속성 참조(&)를 이용해 1~5까지 자동 렌더링
    @at-root &[data-current-theme='#{$theme}'] section.playful {
      background-image: url('../../../images/kia/pdp/fifa/sec03_bg_#{$theme}.png');

      // 모바일 배경 이미지 중첩
      @media screen and (max-width: 769px) {
        background-image: url('../../../images/kia/pdp/fifa/sec03_bg_#{$theme}_mo.png');
      }
    }
  }

  // 2. Playful Sections
  section.playful {
    padding-top: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: background-image 0.5s ease-in-out;

    @media screen and (max-width: 769px) {
      padding-top: 14px;
    }

    .playful-header {
      padding-top: 70px;
      padding-bottom: 48px;
      text-align: center;

      @media screen and (max-width: 769px) {
        padding-top: 48px;
        padding-bottom: 4px;
      }
    }

    .playful-content {
      padding-bottom: 133px;

      @media screen and (max-width: 769px) {
        padding-top: 20px;
      }
    }
  }

  // 3. Titles & Texts
  .playful-title {
    margin-bottom: 24px;
    padding-bottom: 0;
    color: #1a1a1a;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -1.2px;

    @media screen and (max-width: 769px) {
      margin-bottom: 8px;
      font-size: 24px;
      letter-spacing: -0.48px;
    }
  }

  .playful-subtitle {
    color: #1a1a1a;
    text-align: center;
    font-size: 20px;
    letter-spacing: -0.4px;

    @media screen and (max-width: 769px) {
      font-size: 14px;
      letter-spacing: -0.28px;
    }
  }

  // 4. Banner Component
  .playful-banner {
    width: 100%;

    .banner-item {
      position: relative;

      .banner-img img {
        width: 100%;
        aspect-ratio: 100 / 17;
        -webkit-user-drag: none;
        user-select: none;

        @media screen and (max-width: 769px) {
          aspect-ratio: 640 / 480;
        }
      }

      // 테마 번호별 배지/텍스트 컬러 그룹화
      &[data-theme="01"] {
        .banner-contents { h3, p { color: #05141F; } }
        .badge-1 { border-color: #FF3D00; background-color: #FF3D00; color: #EEFF42; }
        .badge-2 { border-color: #667DFF; background-color: #304FFE; color: #B4D0FF; }
        .badge-3 { border-color: #FF5900; background-color: #FFF; color: #FF5900; }
      }
      &[data-theme="02"] {
        .badge-1 { border-color: #FF3D00; background-color: #D50101; color: #FF8F6B; }
        .badge-2 { border-color: #FF3D00; background-color: #FFF; color: #FF8F6B; }
        .badge-3 { border-color: #BA5849; background-color: #FF6E3F; color: #fff; }
      }
      &[data-theme="03"] {
        .badge-1 { border-color: #AFEA00; background-color: #00C852; color: #D2FF4D; }
        .badge-2 { border-color: #AFEA00; background-color: #187F1B; color: #AFEA00; }
        .badge-3 { border-color: #AFEA00; background-color: #F4FF81; color: #004D3F; }
      }
      &[data-theme="04"] {
        .badge-1 { border-color: #83B1FF; background-color: #304FFE; color: #83B1FF; }
        .badge-2 { border-color: #304FFE; background-color: #83B1FF; color: #304FFE; }
        .badge-3 { border-color: #A7FFEB; background-color: #10164F; color: #A7FFEB; }
      }
      &[data-theme="05"] {
        .badge-1 { border-color: #FF8282; background-color: #FF5252; color: #fff; }
        .badge-2 { border-color: #83B1FF; background-color: #10164F; color: #83B1FF; }
        .badge-3 { border-color: #304FFE; background-color: #FFF; color: #304FFE; }
      }
      &[data-theme="06"] {
        .badge-1 { border-color: #232323; background-color: #FFE400; color: #232323; }
        .badge-2 { border-color: #232323; background-color: #232323; color: #FFFFFF; }
        .badge-3 { border-color: #EB403E; background-color: #EB403E; color: #E0E5FF; }
      }
      &[data-theme="07"] {
        .badge-1 { border-color: #FF3D00; background-color: #FF3D00; color: #FFFFFF; }
        .badge-2 { border-color: #8F290B; background-color: #8F290B; color: #FFFFFF; }
        .badge-3 { border-color: #63A2FF; background-color: #10164F; color: #98C5FF; }
      }
      &[data-theme="08"] {
        .badge-1 { border-color: #004D3F; background-color: #004D3F; color: #FFFFFF; }
        .badge-2 { border-color: #1EE9B6; background-color: #1EE9B6; color: #05141F; }
        .badge-3 { border-color: #00C852; background-color: #00C852; color: #E5FF99; }
      }
      &[data-theme="09"] {
        .badge-1 { border-color: #E98300; background-color: #E98300; color: #FFFFFF; }
        .badge-2 { border-color: #E20101; background-color: #E20101; color: #FFFFFF; }
        .badge-3 { border-color: #304FFE; background-color: #304FFE; color: #FFFFFF; }
      }
      &[data-theme="10"] {
        .badge-1 { border-color: #3464B3; background-color: #3464B3; color: #FFFFFF; }
        .badge-2 { border-color: #83B1FF; background-color: #FFFFFF; color: #2471F0; }
        .badge-3 { border-color: #FFAB40; background-color: #FFAB40; color: #383838; }
      }
      &[data-theme="11"] {
        .badge-1 { border-color: #FFFFFF; background-color: #FFFFFF; color: #232323; }
        .badge-2 { border-color: #FF5252; background-color: #FF5252; color: #FFFFFF; }
        .badge-3 { border-color: #021CAD; background-color: #021CAD; color: #E0E5FF; }
      }
      &[data-theme="12"] {
        .badge-1 { border-color: #699635; background-color: #699635; color: #FFFFFF; }
        .badge-2 { border-color: #FFDF00; background-color: #FFDF00; color: #05141F; }
        .badge-3 { border-color: #EEFF42; background-color: #EEFF42; color: #272727; }
      }
      &[data-theme="13"] {
        .badge-1 { border-color: #B71D1C; background-color: #B71D1C; color: #FFFFFF; }
        .badge-2 { border-color: #10164F; background-color: #10164F; color: #A9C2F0; }
        .badge-3 { border-color: #304FFE; background-color: #FFFFFF; color: #193C9C; }
      }
      &[data-theme="14"] {
        .badge-1 { border-color: #FF6563; background-color: #FF6563; color: #FFFFFF; }
        .badge-2 { border-color: #FF3130; background-color: #FF3130; color: #FFFFFF; }
        .badge-3 { border-color: #FFFFFF; background-color: #FFFFFF; color: #751312; }
      }
      &[data-theme="15"] {
        .badge-1 { border-color: #D50101; background-color: #D50101; color: #FFFFFF; }
        .badge-2 { border-color: #FFD217; background-color: #FFD217; color: #000000; }
        .badge-3 { border-color: #565656; background-color: #565656; color: #FFFFFF; }
      }
      &[data-theme="16"] {
        .badge-1 { border-color: #1A237E; background-color: #1A237E; color: #FFFFFF; }
        .badge-2 { border-color: #FFAB40; background-color: #FFAB40; color: #2F2F2F; }
        .badge-3 { border-color: #004D3F; background-color: #004D3F; color: #FFFFFF; }
      }
      &[data-theme="17"] {
        .badge-1 { border-color: #556427; background-color: #556427; color: #FFFFFF; }
        .badge-2 { border-color: #806F4A; background-color: #806F4A; color: #FFFFFF; }
        .badge-3 { border-color: #1A237E; background-color: #1A237E; color: #FFFFFF; }
      }
    }
  }

  // 5. Banner Contents
  .banner-contents {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 20px;

    h3 {
      color: #fff;
      text-align: center;
      font-size: clamp(16px, 2.33vw, 28px);
      font-weight: 600;
      line-height: 120%;

      @media screen and (max-width: 769px) {
        font-size: clamp(12px, 5vw, 16px);
        line-height: 1.5;
      }
    }

    p {
      margin-top: 6px;
      color: #fff;
      text-align: center;
      font-size: clamp(14px, 1.83vw, 22px);
      font-weight: 600;
      line-height: 120%;

      @media screen and (max-width: 769px) {
        margin-top: clamp(10px, 6.67%, 16px);
        font-size: clamp(10px, 4.375vw, 14px);
        line-height: 1.4;
      }
    }
  }

  // 6. Badges
  .banner-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: clamp(8px, 7.84%, 16px);

    @media screen and (max-width: 769px) {
      margin-top: clamp(12px, 8.33%, 20px);
      gap: 6px;
    }

    [class*="badge-"] {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      padding: 4px 12px;
      border-radius: 18px;
      line-height: normal;
      font-size: 12px;
      font-weight: 600;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.10);
      border: 0.8px solid white;

      img {
        width: 14px;
        height: 14px;
      }
    }
  }

  // 7. Content Items
  .playful-content-item {
    > h3 {
      color: #05141f;
      margin-bottom: 12px;
    }
    > p {
      color: #05141f;
      &.warning {
        color: #888;
      }
    }
  }
}