/* ========================================
   Themes - FIFA
   ======================================== */
[data-product=fifa] section.themes .themes-header {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto -31px;
  padding: 64px 0 100px;
  text-align: center;
  background-image: url("../../../images/kia/pdp/fifa/themes-header_bg.png");
  background-position: top center;
  z-index: 1;
}
[data-product=fifa] section.themes .themes-header .themes-title {
  margin-bottom: 24px;
}
[data-product=fifa] section.themes .themes-header .themes-subtitle {
  color: #000;
}
@media screen and (max-width: 769px) {
  [data-product=fifa] section.themes .themes-header {
    margin: 0 auto -41px;
    padding: 35px 0 80px;
    background-size: cover;
  }
}
[data-product=fifa] .themes-cards-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 132px 20px;
  background-image: url("../../../images/kia/pdp/fifa/sec02_bg.png");
  background-size: cover;
}
@media screen and (max-width: 769px) {
  [data-product=fifa] .themes-cards-wrapper {
    padding: 40px 20px 16px;
    background-image: url("../../../images/kia/pdp/fifa/sec02_bg_mo.png");
    background-position: bottom center;
  }
}
[data-product=fifa] .themes-cards-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1430px;
  margin: 0 auto;
  list-style: none;
}
@media (max-width: 1460px) {
  [data-product=fifa] .themes-cards-grid {
    max-width: 1024px;
  }
}
@media (max-width: 980px) {
  [data-product=fifa] .themes-cards-grid {
    gap: 12px;
  }
}
@media screen and (max-width: 366px) {
  [data-product=fifa] .themes-cards-grid {
    gap: 10px;
  }
}
[data-product=fifa] .themes-cards-grid .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 140px;
  padding: 16px 12px;
  border-radius: 12px;
  isolation: isolate;
}
[data-product=fifa] .themes-cards-grid .card:hover {
  background-color: #2F2F2F;
}
@media screen and (max-width: 769px) {
  [data-product=fifa] .themes-cards-grid .card {
    width: 100px;
    padding: 12px 0;
  }
}
[data-product=fifa] .themes-cards-grid .card img {
  width: 80px;
  aspect-ratio: 1/1;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
}
@media (max-width: 980px) {
  [data-product=fifa] .themes-cards-grid .card img {
    width: 60px;
  }
}
@media screen and (max-width: 769px) {
  [data-product=fifa] .themes-cards-grid .card img {
    width: 40px;
  }
}
[data-product=fifa] .themes-cards-grid .card .card-contents h3 {
  color: #979797;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  text-align: center;
}
@media (max-width: 980px) {
  [data-product=fifa] .themes-cards-grid .card .card-contents h3 {
    font-size: 14px;
  }
}
@media screen and (max-width: 769px) {
  [data-product=fifa] .themes-cards-grid .card .card-contents h3 {
    letter-spacing: -0.5px;
  }
}
[data-product=fifa][data-current-theme="01"] .card[data-theme="01"], [data-product=fifa][data-current-theme="02"] .card[data-theme="02"], [data-product=fifa][data-current-theme="03"] .card[data-theme="03"], [data-product=fifa][data-current-theme="04"] .card[data-theme="04"], [data-product=fifa][data-current-theme="05"] .card[data-theme="05"], [data-product=fifa][data-current-theme="06"] .card[data-theme="06"], [data-product=fifa][data-current-theme="07"] .card[data-theme="07"], [data-product=fifa][data-current-theme="08"] .card[data-theme="08"], [data-product=fifa][data-current-theme="09"] .card[data-theme="09"], [data-product=fifa][data-current-theme="10"] .card[data-theme="10"], [data-product=fifa][data-current-theme="11"] .card[data-theme="11"], [data-product=fifa][data-current-theme="12"] .card[data-theme="12"], [data-product=fifa][data-current-theme="13"] .card[data-theme="13"], [data-product=fifa][data-current-theme="14"] .card[data-theme="14"], [data-product=fifa][data-current-theme="15"] .card[data-theme="15"], [data-product=fifa][data-current-theme="16"] .card[data-theme="16"], [data-product=fifa][data-current-theme="17"] .card[data-theme="17"] {
  background-color: #EEFF42;
}
[data-product=fifa][data-current-theme="01"] .card[data-theme="01"] .card-contents h3, [data-product=fifa][data-current-theme="02"] .card[data-theme="02"] .card-contents h3, [data-product=fifa][data-current-theme="03"] .card[data-theme="03"] .card-contents h3, [data-product=fifa][data-current-theme="04"] .card[data-theme="04"] .card-contents h3, [data-product=fifa][data-current-theme="05"] .card[data-theme="05"] .card-contents h3, [data-product=fifa][data-current-theme="06"] .card[data-theme="06"] .card-contents h3, [data-product=fifa][data-current-theme="07"] .card[data-theme="07"] .card-contents h3, [data-product=fifa][data-current-theme="08"] .card[data-theme="08"] .card-contents h3, [data-product=fifa][data-current-theme="09"] .card[data-theme="09"] .card-contents h3, [data-product=fifa][data-current-theme="10"] .card[data-theme="10"] .card-contents h3, [data-product=fifa][data-current-theme="11"] .card[data-theme="11"] .card-contents h3, [data-product=fifa][data-current-theme="12"] .card[data-theme="12"] .card-contents h3, [data-product=fifa][data-current-theme="13"] .card[data-theme="13"] .card-contents h3, [data-product=fifa][data-current-theme="14"] .card[data-theme="14"] .card-contents h3, [data-product=fifa][data-current-theme="15"] .card[data-theme="15"] .card-contents h3, [data-product=fifa][data-current-theme="16"] .card[data-theme="16"] .card-contents h3, [data-product=fifa][data-current-theme="17"] .card[data-theme="17"] .card-contents h3 {
  color: #05141F;
}
/*# sourceMappingURL=themes-fifa.css.map */
