/* ========================================
   Themes - FIFA
   ======================================== */
[data-product='fifa'] .themes-header {
  position: relative;
  width: 100%;
  max-width: 1900px;
  margin: 0 auto -46px;
  padding: 64px 0 100px;
  text-align: center;
  background-image: url('../../../images/kia/pdp/fifa/details/themes-header_bg.png');
  background-position: top center;
  z-index: 1;
}
[data-product='fifa'] .themes-header .themes-title {
  margin-bottom: 24px;
}
[data-product='fifa'] .themes-header .themes-subtitle {
  color: #000;
}

[data-product='fifa'] .themes-cards-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 132px 20px;
  background-image: url('../../../images/kia/pdp/fifa/details/img_sec02_bg.png');
  background-size: cover;
}

[data-product='fifa'] .themes-cards-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 8px;

  max-width: 1588px;
  margin: 0 auto;
  list-style: none;
}
[data-product='fifa'] .card {
  position: relative;
  width: 100%;
  max-width: 258px;
  aspect-ratio: 258 / 447;
  isolation: isolate;
}

[data-product='fifa'] .card-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  transition:
    opacity 0.3s ease,
    visibility 0.3s;
}
[data-product='fifa'] .card-layer img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
}
[data-product='fifa'] .layer-active {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
[data-product='fifa'] .layer-inactive {
  width: 100%;
  height: auto;
  z-index: 0;
  opacity: 1;
  visibility: visible;
}
[data-product='fifa'] .card.pick .card-layer {
  width: 100%;
  height: auto;
  opacity: 1;
  visibility: visible;
}
[data-product='fifa'][data-current-theme='01'] .card[data-theme='01'] .layer-active,
[data-product='fifa'][data-current-theme='02'] .card[data-theme='02'] .layer-active,
[data-product='fifa'][data-current-theme='03'] .card[data-theme='03'] .layer-active,
[data-product='fifa'][data-current-theme='04'] .card[data-theme='04'] .layer-active,
[data-product='fifa'][data-current-theme='05'] .card[data-theme='05'] .layer-active {
  opacity: 1;
  visibility: visible;
}
[data-product='fifa'][data-current-theme='01'] .card[data-theme='01'] .layer-inactive,
[data-product='fifa'][data-current-theme='02'] .card[data-theme='02'] .layer-inactive,
[data-product='fifa'][data-current-theme='03'] .card[data-theme='03'] .layer-inactive,
[data-product='fifa'][data-current-theme='04'] .card[data-theme='04'] .layer-inactive,
[data-product='fifa'][data-current-theme='05'] .card[data-theme='05'] .layer-inactive {
  opacity: 0;
  visibility: hidden;
}

[data-product='fifa'] .card .card-contents {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  aspect-ratio: 258 / 193;
  padding: clamp(12px, 10.36%, 20px) clamp(14px, 9.30%, 24px) clamp(14px, 9.43%, 24px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
[data-product='fifa'] .card .card-contents h3 {
  width: 100%;
  color: #666;
  font-size: clamp(20px, 1.5cqw, 24px);
  font-style: normal;
  font-weight: 600;
}
[data-product='fifa'] .card .card-contents p {
  width: 100%;
  color: #B8B8B8;
  font-size: clamp(14px, 1cqw, 16px);
}
[data-product='fifa'][data-current-theme='01'] .card[data-theme='01'] .card-contents h3,
[data-product='fifa'][data-current-theme='02'] .card[data-theme='02'] .card-contents h3,
[data-product='fifa'][data-current-theme='03'] .card[data-theme='03'] .card-contents h3,
[data-product='fifa'][data-current-theme='04'] .card[data-theme='04'] .card-contents h3,
[data-product='fifa'][data-current-theme='05'] .card[data-theme='05'] .card-contents h3 {
  color: #000;
}
[data-product='fifa'][data-current-theme='01'] .card[data-theme='01'] .card-contents p,
[data-product='fifa'][data-current-theme='02'] .card[data-theme='02'] .card-contents p,
[data-product='fifa'][data-current-theme='03'] .card[data-theme='03'] .card-contents p,
[data-product='fifa'][data-current-theme='04'] .card[data-theme='04'] .card-contents p,
[data-product='fifa'][data-current-theme='05'] .card[data-theme='05'] .card-contents p {
  color: #888;
}
[data-product='fifa'] .card.pick .card-contents {
  justify-content: center;
  gap: 23%;
  padding-left: 10px;
  padding-right: 10px;
}
[data-product='fifa'] .card.pick .card-contents h3 {
  text-align: center;
  color: #B2B8BD;
}
[data-product='fifa'] .card.pick .card-contents p {
  text-align: center;
  color: #B2B8BD;
}

/* 체크 뱃지 */
[data-product='fifa'] .themes-cards-grid .card::after {
  content: '';
  position: absolute;
  top: 5%;
  right: 8.6%;
  z-index: 10; /* 최상단 */

  width: 22px;
  height: 22px;
  background-image: url(../../../images/kia/pdp/fifa/icons/icon_card_selected.png);
  background-position: center center;
  background-size: contain;

  /* Animation Init */
  opacity: 0;
  transform: scale(0.5);
  transition:
    opacity 0.2s,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: none; /* 클릭 통과 */
}
[data-product='fifa'][data-current-theme='01'] .card[data-theme='01']::after,
[data-product='fifa'][data-current-theme='02'] .card[data-theme='02']::after,
[data-product='fifa'][data-current-theme='03'] .card[data-theme='03']::after,
[data-product='fifa'][data-current-theme='04'] .card[data-theme='04']::after,
[data-product='fifa'][data-current-theme='05'] .card[data-theme='05']::after {
  opacity: 1;
  transform: scale(1);
}

/* 화면이 좀 작아지면 (Tablet): 3x2 구조 */
@media (max-width: 1200px) {
  [data-product='fifa'] .themes-cards-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* 한 줄에 3개 */
    max-width: 790px;
  }
}
@media screen and (max-width: 769px) {
  [data-product='fifa'] section.themes .themes-header {
    position: relative;
    max-width: 1900px;
    margin: 0 auto -41px;
    padding: 35px 0 80px;
    text-align: center;
    background-size: cover;
  }
  [data-product='fifa'] .themes-title {
    color: #000;
    font-size: 24px;
    letter-spacing: -0.48px;
  }
  [data-product='fifa'] .themes-subtitle {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  [data-product='fifa'] .themes-cards-wrapper {
    padding: 36px 20px;
  }
  [data-product='fifa'] .themes-cards-grid {
    gap: 12px;
  }
  [data-product='fifa'] .card {
    max-width: 100%;
    aspect-ratio: 156 / 184;
  }
  [data-product='fifa'] .card .card-contents {
    aspect-ratio: 156 / 92;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  [data-product='fifa'] .card .card-contents h3 {
    text-align: center;
    font-size: clamp(14px, 2.6cqw, 20px);
  }
  [data-product='fifa'] .card .card-contents p {
    text-align: center;
    font-size: clamp(10px, 2.0cqw, 16px);
    line-height: 1.4;
  }
  [data-product='fifa'] .card.pick .card-contents {
    gap: 8%;
  }

  [data-product='fifa'] .themes-cards-grid .card::after {
    width: 14px;
    height: 14px;
    top: 5.5%;
    right: 7%;
  }
}

@media screen and (max-width: 540px) {
  [data-product='fifa'] .themes-cards-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
  }
}
