/* ========================================
   Theme Selectors - FIFA
   ======================================== */
[data-product='fifa'] {
  .theme-selector {
    max-width: 1240px;
    margin: 0 auto;

    &.buttons {
      justify-content: center;

      button {
        padding: 8px 12px;
        border-radius: 999px;
        color: #979797;
        border: 1px solid #E9E9E9;
        background-color: #F4F4F4;

        &::before {
          flex: none;
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-size: contain;
        }

        @for $i from 1 through 17 {
          $num: "#{$i}";
          @if $i < 10 { $num: "0#{$i}"; }

          &[data-theme='#{$num}']::before {
            background-image: url('../../../images/kia/pdp/fifa/sec03_chipicon_#{$num}.png');
          }
        }
      }
    }
  }

  @for $i from 1 through 17 {
    $num: "#{$i}";
    @if $i < 10 { $num: "0#{$i}"; }
    &[data-current-theme='#{$num}'] {
      .theme-selector.buttons {
        button[data-theme='#{$num}'] {
          background-color: #eeff42;
          border-color: #eeff42;
          color: #05141f;
        }
      }
    }
  }

  @media screen and (max-width: 769px) {
    .theme-selector {
      &.dropdown {

        button {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 8px;
          &::before {
            flex: none;
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-size: contain;
          }
        }

        .theme-list {
          overflow-y: auto;
          li {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 8px;

            &::before {
              flex: none;
              content: '';
              display: block;
              width: 24px;
              height: 24px;
              background-size: contain;
            }

            @for $i from 1 through 17 {
              $num: "#{$i}";
              @if $i < 10 { $num: "0#{$i}"; }
              &[value='#{$num}']::before {
                background-image: url('../../../images/kia/pdp/fifa/sec03_chipicon_#{$num}.png');
              }
            }
          }
        }
      }
    }

    @for $i from 1 through 17 {
      $num: "#{$i}";
      @if $i < 10 { $num: "0#{$i}"; }
      &[data-current-theme='#{$num}'] {
        .theme-selector.dropdown {
          button::before {
            background-image: url('../../../images/kia/pdp/fifa/sec03_chipicon_#{$num}.png');
          }
        }
      }
    }
  }
}

