/* ========================================
   N Reasons Why you can’t miss out
   ======================================== */
[data-product] section.reasons-n {
  position: relative;

  .view-pc {
    display: block;
  }

  .view-mo {
    display: none;
  }

  .reasons-n-header {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 103px 0 79px;
    &::before {
      content: '';
      display: block;
      margin: 14px 0;
      width: 12px;
      background-color: #ea0029;
    }

    .reasons-n-title {
      color: #05141f;
      font-size: 48px;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: -0.96px;
    }
  }

  .reasons-n-contents {
    padding-top: 180px;
    padding-bottom: 84px;
    background: linear-gradient(
            177deg,
            rgba(44, 44, 44, 0.8) 8.59%,
            rgba(0, 0, 0, 0.8) 111.47%
    );
  }

  ul.reasons-list {
    display: flex;
    flex-direction: column;
    gap: 80px;
    counter-reset: my-counter;
    li.reason-n-item {
      display: flex;
      flex-direction: row;
      gap: 32px;
      counter-increment: my-counter;

      .reason-n-content-wrapper {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        &::before {
          flex: none;
          content: counter(my-counter);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          color: #05141f;
          text-align: center;
          font-size: 20px;
          font-weight: 600;
          line-height: 1.2;
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
        }

        .reason-n-content {
          display: flex;
          flex-direction: column;
          .reason-n-title {
            color: #fff;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
          }
          .reason-n-description {
            margin-top: 7px;
            color: #fff;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5;
          }
          .warning {
            margin-top: 2px;
            color: #969696;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: -0.32px;
          }
        }
      }

      .reason-n-image {
        flex: 1;
        text-align: right;
      }
    }
  }

  .reasons-n-copyright {
    margin-top: 108px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
  }
}

@media screen and (max-width: 769px) {
  .w-full-mo {
    margin-left: -20px;
    margin-right: -20px;
  }
  [data-product] section.reasons-n {
    .reasons-n-header {
      padding: 40px 0;
      gap: 12px;
      &::before {
        margin: 0;
        width: 6px;
      }
      .reasons-n-title {
        font-size: 24px;
        letter-spacing: -0.48px;
        padding: 10px 0;

      }
    }

    .reasons-n-contents {
      padding-top: 60px;
      padding-bottom: 48px;
    }

    ul.reasons-list {
      gap: 68px;
      li.reason-n-item {
        flex-direction: column;
        gap: 20px;

        .reason-n-content-wrapper {
          &::before {
            width: 24px;
            height: 24px;
            font-size: 16px;
          }
          .reason-n-content {
            .reason-n-title {
              font-size: 18px;
            }
            .reason-n-description {
              font-size: 14px;
            }
            .warning {
              font-size: 10px;
            }
          }
        }

        &:nth-child(even) {
          .reason-n-content-wrapper {
            flex-direction: row-reverse;
            gap: 12px;
            .reason-n-content {
              .reason-n-title, .reason-n-description, .warning{
                text-align: end;
              }
            }
          }
        }
      }
    }
    .reasons-n-copyright {
      margin-top: 45px;
    }
  }
}
