/* ========================================
   Section > Go to the List
   ======================================== */
section.go-to-list {
  background-color: #f3f3f3;
  width: 100%;
  height: 100px;
}

section.go-to-list .section-inner {
  height: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section.go-to-list a.go-to-list-link {
  display: inline-flex;
  align-items: center;
  gap: 13px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  text-decoration: none;
}

section.go-to-list a.go-to-list-link:hover {
  text-decoration: underline;
}
