/* ========================================
   Product View
   ======================================== */
section.product-view {
  padding: 100px 0 100px;
}
section.product-view .section-inner {
  display: flex;
  gap: 100px;
  align-items: flex-start;
}

section.product-view .product-thumbnail {
  position: sticky;
  top: 80px;
  flex: 1;
}
section.product-view .product-thumbnail .thumbnail-swiper {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f2f2f2;
  aspect-ratio: 1 / 1;
}
.contentWarp
  section.product-view
  .product-thumbnail
  .productImg
  .thumbnail-swiper
  .thumbnail-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  background-color: #f2f2f2;
  line-height: normal;
}

section.product-view .product-thumbnail .thumbnail-swiper .thumbnail-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2; /* 비디오보다 위 */

  /* 부드러운 전환 효과 */
  transition: opacity 0.4s ease;
  opacity: 1;
}

section.product-view
  .product-thumbnail
  .thumbnail-swiper
  .thumbnail-slide.with-video::after {
  content: '마우스를 올려보세요.';
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10; /* 이미지보다 위에 떠야 함 */

  /* 2. Design (Badge Style) */
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px #333;

  /* 3. Interaction */
  pointer-events: none; /* 중요: 이 배지가 마우스 이벤트를 가로채지 않게 통과시킴 */
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}
.thumbnail-swiper .thumbnail-slide.with-video:hover img {
  opacity: 0;
}
.swiper-slide.with-video:hover::after {
  opacity: 0;
  transform: translateY(-5px);
}
.thumbnail-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.thumbnail-swiper #thumbnail-swiper-pagination {
  --swiper-pagination-bottom: 10px;
}
.thumbnail-swiper .swiper-pagination-bullet {
  width: 56px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color var(--transition-base);
  border-radius: 0;
  opacity: 1;
}
.thumbnail-swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/* Product Options */
.product-options {
  flex: 1;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Product Info */
/*.product-header {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  margin-bottom: 20px;*/
/*}*/
.product-header .product-name {
  flex: 1;
  font-size: 45px;
  font-weight: 600;
  line-height: 50px;
  /*max-width: 350px;*/
}
.btn-like {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity var(--transition-base);
}
.btn-like:hover {
  transform: scale(1.1);
}
.btn-like.active {
  filter: brightness(0) saturate(100%) invert(27%) sepia(93%) saturate(3766%)
    hue-rotate(345deg);
}
.btn-like img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}
.product-info .product-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: black;
}

/* Option List */
.option-list-section {
}
.option-list-title {
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.option-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.option-item {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
}
.option-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.option-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}
.option-info {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 140px;
  background-color: var(--color-white);
  border: 1px solid #dedede;
  border-left: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all var(--transition-base);
}
.option-item:not(.disabled) .option-info:hover {
  border-color: var(--color-black);
  box-shadow: var(--shadow-md);
}
.option-name {
  font-size: 16px;
  font-weight: 600;
}

.option-check {
  flex: none;
  width: 20px;
  height: 20px;
  opacity: 0 !important;
  transition: opacity var(--transition-base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.option-check-icon {
  width: 100%;
  height: 100%;
}

.option-item.selected .option-info {
  background-color: #05141f;
  border-color: #05141f;
}
.option-item.selected .option-name {
  color: var(--color-white);
}
.option-item.selected .option-check {
  opacity: 1 !important;
}

.option-item.disabled {
  cursor: not-allowed;
}
.option-item.disabled .option-thumbnail img {
  opacity: 0.4;
}
.option-item.disabled .option-name {
  color: #ced0d0;
}

.option-item.purchased .option-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.option-item.purchased .option-name::after {
  content: '구매완료';
  display: inline-flex;
  align-items: center;

  width: fit-content;
  height: 2.4rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: #bdc0c3;
  border-radius: 1.2rem;
  padding: 5.5px 6px 4px;
}
.option-item.purchased .option-check {
  display: none;
}

/* Payment Section */
.payment-section {
}
.price-options-title {
  margin-bottom: 20px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.price-option-box {
  height: 90px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #05141f;
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
}
.price-option-box .price-option-label {
  font-size: 16px;
  font-weight: 400;
}
.price-option-box .price-option-value {
  text-align: right;
  font-size: 20px;
  font-weight: 600;
}
.price-option-box:hover,
.price-option-box.selected {
  background-color: #05141f;
}
.price-option-box:hover .price-option-label,
.price-option-box:hover .price-option-value,
.price-option-box.selected .price-option-label,
.price-option-box.selected .price-option-value {
  color: white;
}
.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.total-price-label {
  color: #666;
  font-size: 16px;
  font-weight: 600;
}
.total-price-value {
  flex: none;
  color: #000;
  text-align: right;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 1240px) {
  section.product-view .section-inner {
    gap: calc((100% - 40px) / 12);
  }
}

@media screen and (max-width: 769px) {
  section.product-view {
    padding: 30px 0 63px;
  }
  section.product-view .section-inner {
    flex-direction: column;
    gap: 30px;
  }

  .product-thumbnail {
    position: relative;
    top: 0;
    width: 100%;
  }
  .thumbnail-swiper {
    max-width: 100%;
  }

  .product-options {
    width: 100%;
    max-width: 100%;
  }
  .product-info .product-header {
    margin-bottom: 4.167vw;
  }
  .product-info .product-name {
    width: auto;
    font-size: 34px;
  }
  .option-list-title {
    font-size: 16px;
  }
  .price-options-title {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .price-option-box {
    height: 80px;
    padding: 0 20px;
  }
  .total-price {
    margin-top: 30px;
  }
  .total-price-label {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .product-info .product-name {
    font-size: 8.333vw;
    line-height: 1.2;
  }
  .option-item {
    height: 22.222vw;
  }
  .option-thumbnail {
    width: 22.222vw;
    height: 22.222vw;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .option-info {
    padding: 0 3.703vw 0 calc(3.703vw + 22.222vw);
    border-radius: 4px;
  }
  .option-name {
    font-size: 3.889vw;
    line-height: 1.4;
  }
  .price-option-box .price-option-label {
    font-size: 14px;
  }
  .price-option-box .price-option-value {
    font-size: 16px;
  }
  .total-price {
    align-items: flex-start;
    flex-direction: column;
  }
  .total-price-label {
    margin-bottom: 15px;
  }
  .total-price-value {
    line-height: 25px;
  }
}
