/* ========================================
   Discover Playful Designs - NatGeo
   ======================================== */
[data-product=natgeo][data-current-theme="01"] section.playful {
  background-color: #213125;
}

[data-product=natgeo][data-current-theme="02"] section.playful {
  background-color: #222220;
}

[data-product=natgeo][data-current-theme="03"] section.playful {
  background-color: #5a4231;
}

[data-product=natgeo][data-current-theme="01"] section.playful .playful-wrapper::before {
  background-image: url("../../../images/kia/pdp/natgeo/pattern-bg/img_bg_bc_02.png");
}

[data-product=natgeo][data-current-theme="02"] section.playful .playful-wrapper::before {
  background-image: url("../../../images/kia/pdp/natgeo/pattern-bg/img_bg_sw_02.png");
}

[data-product=natgeo][data-current-theme="03"] section.playful .playful-wrapper::before {
  background-image: url("../../../images/kia/pdp/natgeo/pattern-bg/img_bg_ls_02.png");
}

[data-product=natgeo] .playful-wrapper {
  padding: 156px 0 130px;
}

[data-product=natgeo] section.playful .playful-title::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 73px;
  height: 4px;
  background-color: #ffcc00;
}

[data-product=natgeo] section.playful .playful-content-item > h3 {
  margin-bottom: 12px;
}

@media screen and (max-width: 769px) {
  [data-product=natgeo] .playful-wrapper {
    padding: 40px 0 50px;
  }
  [data-product=natgeo][data-current-theme="01"] section.playful .playful-wrapper::before {
    background-image: url("../../../images/kia/pdp/natgeo/pattern-bg/img_bc_disc_bg_mo.png");
  }
  [data-product=natgeo][data-current-theme="02"] section.playful .playful-wrapper::before {
    background-image: url("../../../images/kia/pdp/natgeo/pattern-bg/img_sw_disc_bg_mo.png");
  }
  [data-product=natgeo][data-current-theme="03"] section.playful .playful-wrapper::before {
    background-image: url("../../../images/kia/pdp/natgeo/pattern-bg/img_ls_disc_bg_mo.png");
  }
  [data-product=natgeo] section.playful .playful-title::after {
    width: 35px;
    height: 3px;
  }
}