/* ========================================
   Discover Playful Designs - Disney
   ======================================== */
[data-product="disney"] {
  &[data-current-theme='01'], &[data-current-theme='02'] {
    section.playful {
      background-color: #283e66;
      .playful-wrapper::before {
        background-image: url('../../../images/kia/pdp/disney/disneyth02_disc_bg.png');
      }
    }
  }

  &[data-current-theme='03'] {
    section.playful {
      background-color: #1c394b;
      .playful-wrapper::before {
        background-image: url('../../../images/kia/pdp/disney/disneyth03_disc_bg.png');
      }

      .playful-title, h3, p:not(.warning) {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  [data-product="disney"] {
    &[data-current-theme='01'],
    &[data-current-theme='02'] {
      section.playful {
        .playful-wrapper::before {
          background-image: url('../../../images/kia/pdp/disney/disneyth02_disc_bg_mo.png');
        }
      }
    }

    &[data-current-theme='03'] {
      section.playful {
        .playful-wrapper::before {
          background-image: url('../../../images/kia/pdp/disney/disneyth03_disc_bg_mo.png');
        }
      }
    }
  }
}
