/* ========================================
   N Reasons Why you can’t miss out - Disney
   ======================================== */

/* reason 2: PC 는 foldable 아코디언, 모바일은 6종 그리드 이미지 */
[data-product='disney'] section.reasons-n {
  ul.reasons-list li.reason-n-item:nth-child(2) .reason-n-image {
    .foldable-list {
      display: block;
    }
    > img {
      display: none;
    }
  }
}

@media screen and (max-width: 769px) {
  [data-product='disney'] section.reasons-n {
    ul.reasons-list li.reason-n-item .reason-n-image > img,
    ul.reasons-list li.reason-n-item .reason-n-image picture img {
      width: 100%;
    }

    ul.reasons-list li.reason-n-item:nth-child(2) .reason-n-image {
      .foldable-list {
        display: none;
      }
      > img {
        display: block;
      }
    }
  }
}
