/* ========================================
   Theme Selectors - Disney
   ======================================== */
[data-product='disney'] {
  .theme-selector.buttons {
    button {
      background-color: #b2b8bd;
      color: #F2F4F6;
      &::before {
        background-image: url(../../../icons/icon_circle_checked_fff.svg);
      }
    }
  }

  &[data-current-theme='01'] .theme-selector.buttons button[data-theme='01'],
  &[data-current-theme='02'] .theme-selector.buttons button[data-theme='02'] {
    background: linear-gradient(90deg, #1C5EED 0%, #1031B5 100%);
    color: #ffffff;
  }

  &[data-current-theme='03'] .theme-selector.buttons button[data-theme='03'] {
    background: linear-gradient(90deg, #E0397E 0%, #C3188A 100%);
    backdrop-filter: blur(3px);
  }

  &[data-current-theme='04'] .theme-selector.buttons button[data-theme='04'] {
    background: linear-gradient(90deg, #84C44E 0%, #1EB57D 50%, #00B39F 100%);
    backdrop-filter: blur(3px);
  }

  &[data-current-theme='05'] .theme-selector.buttons button[data-theme='05'] {
    background: linear-gradient(90deg, #FFC058 0%, #FF8000 100%);
    color: #ffffff;
    backdrop-filter: blur(3px);
  }
}
