/* ========================================
   KV (Key Visual)
   ======================================== */
section.kv {
  position: relative;
  background-color: #ffffff;
}

.swiper {
  position: relative;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  max-width: 1920px;
}
.kv-image {
  aspect-ratio: 160 / 73;
}
.kv-contents {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1240px;
  text-align: center;
  padding: 0 20px;
  z-index: 10;
}
.kv-contents.white > * {
  color: #ffffff !important;
}
.kv-logo {
  width: 16.11%;
  height: auto;
  margin: 0 auto 16px;
  pointer-events: none;
  aspect-ratio: 116 / 180;
}
.kv-title {
  margin-bottom: 20px;
  color: #05141f;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.96px;
  line-height: 1.2;
}
.kv-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #05141f;
  letter-spacing: -0.32px;
  max-width: 866px;
  margin: 0 auto;
}

.swiper-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 48px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.swiper-button-prev,
.swiper-button-next {
  color: #ffffff;
}
.swiper-button-prev {
  left: 10px;
}
.swiper-button-next {
  right: 10px;
}

.swiper-pagination {
  --swiper-pagination-bottom: 32px;
}
.swiper-pagination-bullet {
  width: 56px;
  height: 4px;
  /*height: 10px;*/
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color var(--transition-base);
  border-radius: 0;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

section.kv .view-pc {
  display: block;
}
section.kv .view-mo {
  display: none;
}

@media screen and (max-width: 1240px) {
  .kv-title {
    font-size: 42px;
  }
}
@media screen and (max-width: 1024px) {
  section.kv .view-pc {
    display: none;
  }
  section.kv .view-mo {
    display: block;
  }
  .swiper-slide img.kv-image {
    width: 100%;
    height: auto;
    aspect-ratio: 36 / 53;
    object-fit: cover;
  }

  .swiper-pagination {
    --swiper-pagination-bottom: 28px;
  }
  .kv-contents {
    top: 6.2%;
  }
}
@media screen and (max-width: 900px) {
  .kv-title {
    font-size: 38px;
  }
}
@media screen and (max-width: 769px) {
  .kv-title {
    font-size: 20px;
    letter-spacing: -0.4px;
    margin-bottom: 4px;
  }
  .kv-subtitle {
    font-size: 14px;
    letter-spacing: -0.28px;
  }
}

@media screen and (max-width: 360px) {
  .swiper-navigation {
    display: none;
  }
}
