/* ========================================
   Detail Section > Display Themes List
   ======================================== */
section.themes {
  background-color: var(--color-white);
  transition: background-color 0.3s ease;
}

.themes-header {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  padding: 64px 20px 68px;
  text-align: center;
}

.themes-title {
  margin-bottom: 16px;
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.96px;
}

.themes-subtitle {
  color: #05141f;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
.themes-subtitle br {
  display: none;
}
.themes-stage {
  position: relative;
  padding: 68px 0 79px;
  background: linear-gradient(174deg, #3f3e3e -1.07%, #111 96.73%);
  border-top: 6px solid #ffcc00;
  margin-bottom: 0;
  z-index: 1;
}

.themes-stage::after {
  content: '';
  position: absolute;
  width: 101px;
  height: 52px;
  left: calc(50% - 101px / 2);
  bottom: -52px;
  background-image: url('../../../../../icons/theme-stage-after.svg');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.themes-stage-inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  width: fit-content;
}

.themes-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.theme-card {
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 276px;
  max-width: 289px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.theme-card-thumb {
  position: relative;
  height: 156px;
  overflow: hidden;
  border-bottom: none;
}

.theme-card-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.theme-card-body {
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  padding: 20px 16px;
  background-color: #ffffff;
  color: var(--color-black);
}
.theme-card-body br {
  display: none;
}
.theme-card-title {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}

.theme-card-tags {
  font-size: 16px;
  color: #888888;
}

.theme-card-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #ffcc00;
  background: #272727;
  gap: 8px;
  padding: 24px 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.theme-card-cta .theme-card-body {
  height: auto;
  padding: 0;
  color: #b2b8bd;
  gap: 16px;
  justify-content: center;
  background-color: transparent;
}

.theme-card-cta .theme-card-title {
  color: #b2b8bd;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
}

.theme-card-cta .theme-card-copy {
  color: #b2b8bd;
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.32px;
}
.theme-card-cta .theme-card-copy br {
  display: block;
}
.theme-card-icon img {
  width: 32px;
  height: auto;
}

.theme-card-copy {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 1240px) {
  .themes-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 769px) {
  .themes-header {
    width: 100%;
    padding: 40px 20px;
  }
  .themes-title {
    margin-bottom: 8px;
    font-size: 24px;
  }
  .themes-subtitle {
    letter-spacing: -0.28px;
    font-size: 14px;
    color: #000;
  }
  .themes-subtitle br {
    display: block;
  }
  .themes-cards {
    column-gap: 8px;
    row-gap: 10px;
  }
  .theme-card {
    min-height: auto;
    border-radius: 8px;
    border-width: 1px;
  }
  .theme-card-thumb {
    height: 92px;
  }
  .theme-card-body {
    height: 126px;
    padding: 10px;
    gap: 10px;
  }
  .theme-card-body br {
    display: block;
  }
  .theme-card-title {
    font-size: 14px;
    line-height: 120%; /* 16.8px */
    letter-spacing: -0.28px;
  }
  .theme-card-tags {
    font-size: 10px;
    letter-spacing: -0.2px;
  }
  .theme-card-cta .theme-card-icon img {
    width: 16px;
  }

  .theme-card-cta .theme-card-title {
    font-size: 14px;
  }
  .theme-card-cta .theme-card-copy {
    font-size: 10px;
    letter-spacing: -0.2px;
  }

  .themes-stage {
    padding: 50px 0;
    border-width: 4px;
  }
  .themes-stage::after {
    z-index: 1;
    width: 48px;
    height: 24px;
    left: calc(50% - 48px / 2);
    bottom: -24px;
    background-image: url('../../../../../icons/theme-stage-after-mobile.svg');
  }
}
