/* ========================================
   Info
   ======================================== */
section.info {
  position: relative;
  padding: 100px 0;
}
section.info .view-pc {
  display: block;
}
section.info .view-mo {
  display: none;
}

section.info .section-inner {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.info-item {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  flex: 1;
}

.info-icon {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
}

.info-icon img {
  width: 100%;
  height: 100%;
  display: block;
}

.info-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: var(--color-black);
  margin: 0;
}

.info-description {
  font-size: 14px;
  line-height: 22px;
  color: #000;
}

@media screen and (max-width: 769px) {
  section.info {
    padding: 60px 0;
  }
  section.info .section-inner {
    flex-direction: column;
    gap: 60px;
    max-width: none;
  }
  .info-item {
    gap: 15px;
  }
  .info-icon {
    width: 75px;
    height: 75px;
  }
  .info-text {
    gap: 15px;
  }
  .info-title {
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 450px) {
  section.info .view-pc {
    display: none;
  }
  section.info .view-mo {
    display: block;
  }
}
