/* ========================================
   Detail Section > Credit
   ======================================== */
section.credit {
  position: relative;
  background-color: black;
  color: var(--color-white);
  padding: 100px 0;
}

.section-credit-inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.credit-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 60px;
}

.credit-title {
  position: relative;
  padding-bottom: 28px;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  letter-spacing: -0.96px;
  color: var(--color-white);
}
.credit-title::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 73px;
  height: 4px;
  background-color: #ffcc00;
}

/* Credit Content */
.credit-content {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  text-align: center;
  margin: 0 auto;
}

.credit-text {
  font-size: 14px;
  line-height: 1.4;
  color: #dedede;
  margin: 0;
}

.credit-text strong {
  color: var(--color-white);
  font-weight: 700;
}

@media screen and (max-width: 769px) {
  .section-credit {
    padding: 60px 0 80px;
  }
  .credit-header {
    margin-bottom: 32px;
  }
  .credit-title {
    padding-bottom: 23px;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .credit-title::after {
    width: 35px;
    height: 3px;
  }
  .credit-text {
    font-size: 12px;
  }
}
