/* ========================================
   Detail Section > Product
   ======================================== */
.section-product {
  padding: 100px 0 100px;
}

.section-product .section-inner {
  display: flex;
  gap: 100px;
  align-items: flex-start;
}

/* Product Thumbnail */
.product-thumbnail {
  position: sticky;
  top: 80px;
  flex-shrink: 0;
  width: 600px;
}

.thumbnail-wrapper {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--color-gray-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-wrapper.is-loading img {
  opacity: 0;
}

.thumbnail-wrapper img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
  transition: opacity var(--transition-base);
}

/* Product Options */
.product-options {
  flex: 1;
  max-width: 500px;
}

.product-info {
  margin-bottom: 50px;
}

.product-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-name {
  flex: 1;
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.9px;
  max-width: 350px;
}

.product-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-gray-dark);
  letter-spacing: -0.02em;
}

/* Option List */
.option-list-section {
  margin-bottom: 50px;
}

.option-list-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -0.02em;
}

.option-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 380px;
  overflow-y: auto;
}

.option-item {
  display: flex;
  align-items: center;
  width: 500px;
  height: 120px;
  background-color: var(--color-white);
  border: 1px solid #dedede;
  border-left: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all var(--transition-base);
}

.option-item:hover {
  border-color: var(--color-black);
  box-shadow: var(--shadow-md);
}

.option-item.selected {
  background-color: #05141f;
  border-color: #05141f;
}

.option-thumbnail {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 6px 0 0 6px;
  overflow: hidden;
}

.option-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.option-info {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.option-name {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.option-item.selected .option-name {
  color: var(--color-white);
}

.option-check {
  width: 20px;
  height: 20px;
  opacity: 0 !important;
  transition: opacity var(--transition-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.option-item.selected .option-check {
  opacity: 1 !important;
}

.option-check-icon {
  width: 100%;
  height: 100%;
}

/* Payment Section */
.payment-section {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.price-options-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -0.02em;
}

.price-option-box {
  height: 80px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.price-option-box .price-option-label {
  font-size: 16px;
  font-weight: 400;
  color: black;
  letter-spacing: -0.16px;
}

.price-option-box .price-option-value {
  font-size: 20px;
  font-weight: 700;
  color: black;
  letter-spacing: -0.16px;
}

.price-option-box:hover,
.price-option-box.selected {
  background-color: black;
}
.price-option-box:hover .price-option-label,
.price-option-box:hover .price-option-value,
.price-option-box.selected .price-option-label,
.price-option-box.selected .price-option-value {
  color: white;
}

.total-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}

.total-price-label {
  font-size: 12px;
  font-weight: 500;
  color: #98a2b3;
  letter-spacing: -0.16px;
}

.total-price-value {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.16px;
  color: #05141f;
}

.btn-like {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: opacity var(--transition-base);
}

.btn-like:hover {
  transform: scale(1.1);
}

.btn-like.active {
  filter: brightness(0) saturate(100%) invert(27%) sepia(93%) saturate(3766%)
    hue-rotate(345deg);
}

.btn-like img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* aspect-ratio: 1/1; */
}
