/* ========================================
   Detail Section > Screenshots
   ======================================== */
section.screenshots {
  background-color: var(--color-white);
  transition: background-color 0.3s ease;
}

.theme-header-wrapper {
  position: relative;
  width: 100%;
  padding-top: 194px;
  margin-bottom: -194px;
  transform: translateY(-194px);
}

.theme-header-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
  z-index: 0;
  pointer-events: none;
  transition: background-image 0.5s ease-in-out;
}

.theme-header-wrapper.theme-baby-animals::before {
  background-image: url('../../images/bg_bc-top.png');
}

.theme-header-wrapper.theme-space-wonders::before {
  background-image: url('../../images/bg_sw-top.png');
}

.theme-header-wrapper.theme-landscape::before {
  background-image: url('../../images/bg_ls_top.png');
}

.themes-preview {
  position: relative;
  z-index: 1;
  padding: 0 0 80px;
}

/* Screenshot Preview Grid */
.themes-preview {
  padding: 0 0 80px;
}

.themes-preview-grid {
  max-width: 1634px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 528px 514px 528px;
  gap: 12px;
  align-items: end;
}

.preview-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.preview-column-left {
  align-self: end;
}

.preview-column-center {
  align-self: end;
}

.preview-column-right {
  align-self: start;
}

.preview-item {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.preview-item:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  z-index: 2;
}
.preview-column-center .preview-item img {
  aspect-ratio: 514 / 525;
}

.preview-item img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 533 / 258;
  position: relative;
  object-fit: cover;
  z-index: 0;
}

.preview-label {
  position: absolute;
  bottom: 25px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  white-space: nowrap;
  color: #fff;
  text-align: right;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
  z-index: 3;
}

@media screen and (min-width: 1920px) {
  .theme-header-wrapper::before {
    background-size: cover;
  }
}

@media screen and (max-width: 1634px) {
  .themes-preview-grid {
    grid-template-columns: 33% 32% 33%;
  }
}

@media screen and (max-width: 1240px) {
  .themes-preview-grid {
    grid-template-columns: 32.5% 32% 32.5%;
  }
}

@media screen and (max-width: 769px) {
  .theme-header-wrapper::before {
    background-size: contain;
  }
  .theme-header-wrapper {
    padding-top: 134px;
    margin-bottom: -134px;
    transform: translateY(-134px);
  }

  .themes-preview {
    padding-bottom: 64px;
  }
  .themes-preview-grid {
    grid-template-columns: none;
  }
  .preview-column,
  .themes-preview-grid {
    gap: 24px;
  }
  .preview-label {
    z-index: 10;
    left: 16px;
    bottom: 12px;
    right: auto;
    font-size: 18px;
  }
  .preview-item img {
    aspect-ratio: 533 / 332 !important;
  }

  .theme-header-wrapper.theme-space-wonders::before {
    top: -135px;
    height: calc(100% + 135px);
  }
}
