.sticky-wrapper {
  position: relative;
  padding-top: 91px;
}

.theme-selectors {
  position: sticky;
  top: 59px;
  max-width: 1634px;
  margin: 0 auto 28px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  -webkit-tap-highlight-color: transparent;
  z-index: 3;
  backdrop-filter: blur(3px);
  flex-wrap: nowrap;
}

.theme-selector {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 0 16px 0 12px;
  height: 43px;
  border-radius: 999px;
  background: #f2f4f6;
  color: #666666;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.32px;
  cursor: pointer;
}
.theme-selector .selector-icon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  background-image: url('../../icons/icon_circle_unchecked.svg');
}

.theme-selector.selected {
  background-color: #ffcc00;
  color: #05141f;
}
.theme-selector.selected .selector-icon {
  background-image: url('../../icons/icon_circle_checked.svg');
}

.mobile-theme-dropdown {
  display: none;
}

@media screen and (max-width: 769px) {
  .sticky-wrapper {
    padding-top: 32px;
  }

  .theme-selectors {
    display: none;
  }

  .mobile-theme-dropdown {
    position: sticky;
    z-index: 3;
    top: 56px;
    display: block !important;
    margin: 0 0 24px;
    padding: 16px 20px;
    backdrop-filter: blur(3px);
  }
  .mobile-theme-dropdown select {
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
    color: #05141f;
    border: 1.4px solid #dedede;
    border-radius: 4px;
    appearance: none;
    background-image: url('../../icons/icon-angle-down.svg');
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-color: #f2f4f6;
    padding: 14px 48px 14px 18px;
    cursor: pointer;
    backdrop-filter: blur(3px);
  }
  .mobile-theme-dropdown select::before {
    content: '';
  }
  .mobile-theme-dropdown select:focus {
    outline: none;
    border-color: black;
  }
  .mobile-theme-dropdown select option {
    background-color: #f2f4f6;
    color: #05141f;
    padding: 12px;
  }
}
