/* ========================================
   KV (Key Visual)
   ======================================== */
section.kv {
  position: relative;
  background-color: #ffffff;
}
section.kv .view-pc {
  display: block;
}
section.kv .view-mo {
  display: none;
}

.kv-swiper {
  position: relative;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* swiper-navigation */
.kv-swiper .swiper-navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 48px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.kv-swiper .swiper-button-prev,
.kv-swiper .swiper-button-next {
  color: #ffffff;
}
.kv-swiper .swiper-button-prev {
  left: 10px;
}
.kv-swiper .swiper-button-next {
  right: 10px;
}

/* swiper-pagination */
.kv-swiper #kv-swiper-pagination {
  --swiper-pagination-bottom: 30px;
}
.kv-swiper .swiper-pagination-bullet {
  width: 56px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
  border-radius: 0;
  opacity: 1;
}
.kv-swiper .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/* kv-slide */
.kv-swiper .kv-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  max-width: 1920px;
}

/* kv-image */
[data-product="fifa"] .kv-image img {
  /* 1920 x 1420 */
  aspect-ratio: 96 / 71;
}
[data-product="natgeo"] .kv-image img {
  /* 1920 x 876 */
  aspect-ratio: 160 / 73;
}

/* ========================================
   Product FIFA
   ======================================== */
[data-product="fifa"] .kv-contents {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1240px;
  text-align: center;
  padding: 0 20px;
  z-index: 10;
}
[data-product="fifa"] .kv-contents.white > * {
  color: #ffffff !important;
}
[data-product="fifa"] .kv-logo {
  display: none;
  width: 16.11%;
  height: auto;
  margin: 0 auto 5%;
  pointer-events: none;
  aspect-ratio: 116 / 180;
}
[data-product="fifa"] .kv-title {
  margin-bottom: 20px;
  color: #05141f;
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  letter-spacing: -0.96px;
  line-height: 1.2;
}
[data-product="fifa"] .kv-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #05141f;
  letter-spacing: -0.32px;
  max-width: 866px;
  margin: 0 auto;
}


/* ========================================
   Product NatGeo
   ======================================== */
[data-product="natgeo"] .kv-contents {
  position: absolute;
  top: clamp(20px, 3.125vw, 60px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1240px;
  text-align: center;
  padding: 0 20px;
  z-index: 10;
}
[data-product="natgeo"] .kv-logo {
  width: clamp(120px, 8.854vw, 170px);
  height: auto;
  aspect-ratio: 170 / 50;
}
[data-product="natgeo"] .kv-title {
  margin-top: clamp(8px, 1.25vw, 24px);
  color: #05141f;
  text-align: center;
  font-size: clamp(24px, 2.5vw, 48px);
  font-weight: 600;
  letter-spacing: -0.96px;
  line-height: normal;
}
[data-product="natgeo"] .kv-subtitle {
  margin-top: clamp(6px, 0.625vw, 12px);
  text-align: center;
  font-size: clamp(12px, 0.833vw, 16px);
  font-weight: 400;
  color: #05141f;
  letter-spacing: -0.32px;
}
/* Space Wonders 테마일 때 KV 타이틀 텍스트 색상을 하얀색으로 변경 */
[data-product="natgeo"] .kv-slide[data-theme='theme-sw'] .kv-title,
[data-product="natgeo"] .kv-slide[data-theme='theme-sw'] .kv-subtitle {
  color: #ffffff;
}

@media screen and (max-width: 1240px) {
  [data-product="fifa"] .kv-contents {
    top: 6.2%;
  }
  [data-product="fifa"] .kv-title {
    font-size: 42px;
  }
}
@media screen and (max-width: 900px) {
  [data-product="fifa"] .kv-contents {
    top: 7%;
  }
  [data-product="fifa"] .kv-title {
    font-size: 28px;
    margin-bottom: 6px;
  }
  [data-product="fifa"] .kv-subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 769px) {
  section.kv .view-pc {
    display: none;
  }
  section.kv .view-mo {
    display: block;
  }
  .kv-swiper #kv-swiper-pagination {
    --swiper-pagination-bottom: 28px;
  }
  .kv-swiper .swiper-navigation {
    display: none;
  }


  [data-product="fifa"] .kv-image img {
    /* 720 x 1,260 */
    aspect-ratio: 4 / 7;
  }
  [data-product="natgeo"] .kv-image img {
    /* 720 x 1,060 */
    aspect-ratio: 36 / 53;
  }


  [data-product="fifa"] .kv-title {
    font-size: 20px;
    letter-spacing: -0.4px;
    margin-bottom: 1.2%;
  }
  [data-product="fifa"] .kv-subtitle {
    font-size: 14px;
    letter-spacing: -0.28px;
  }

  [data-product="natgeo"] .kv-contents {
    top: clamp(40px, 19.444vw, 120px);
  }
  [data-product="natgeo"] .kv-logo {
    width: clamp(86px, 23.888vw, 344px);
  }
  [data-product="natgeo"] .kv-title {
    margin-top: clamp(16px, 8.333vw, 48px);
    font-size: clamp(18px, 8.333vw, 48px);
  }
  [data-product="natgeo"] .kv-subtitle {
    margin-top: clamp(8px, 3.333vw, 24px);
    font-size: clamp(12px, 3.889vw, 22px);
  }
}
