@charset "utf-8";
@font-face {
  font-family: 'KiaSignature';
  src: url('../fonts/KiaSignatureBold.ttf') format('truetype');
  /*url('../fonts/KiaSignatureBold.woff2') format('woff2'),*/
  /*url('../fonts/KiaSignatureBold.woff') format('woff'),*/
  /*url('../fonts/KiaSignatureBold.eof') format('eof'),*/
  /*url('../fonts/KiaSignatureBold.svg') format('svg');*/
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KiaSignature';
  src: url('../fonts/KiaSignatureRegular.ttf') format('truetype');
  /*url('../fonts/KiaSignatureRegular.woff2') format('woff2'),*/
  /*url('../fonts/KiaSignatureRegular.woff') format('woff'),*/
  /*url('../fonts/KiaSignatureRegular.eof') format('eof'),*/
  /*url('../fonts/KiaSignatureRegular.svg') format('svg');*/
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KiaSignature';
  src: url('../fonts/KiaSignatureLight.ttf') format('truetype');
  /*url('../fonts/KiaSignatureLight.woff2') format('woff2'),*/
  /*url('../fonts/KiaSignatureLight.woff') format('woff'),*/
  /*url('../fonts/KiaSignatureLight.eof') format('eof'),*/
  /*url('../fonts/KiaSignatureLight.svg') format('svg');*/
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
