/* @import 규칙은 CSS 파일의 맨 처음에 와야 합니다.
  모든 CSS 파일을 이 파일 하나로 통합합니다.
*/

/* 1. 공통/기본 스타일 */
@import url('natgeo/common.css');
@import url('natgeo/gnb.css');
@import url('natgeo/footer.css');

/* 2. 'details' 페이지 관련 스타일 */
@import url('natgeo/details/product.css');
@import url('natgeo/details/key_visual.css');
@import url('natgeo/details/themes.css');
@import url('natgeo/details/playful.css');
@import url('natgeo/details/reasons.css');
@import url('natgeo/details/credit.css');
@import url('natgeo/details/theme-selector.css');
@import url('natgeo/details/screenshots.css');

/* 3. 'section' 스타일 */
@import url('natgeo/section/info.css');
@import url('natgeo/section/upgrade_guides.css');
@import url('natgeo/section/disclaimer.css');
@import url('natgeo/section/related_feature.css');
