@use './variables' as *;

/* ========================================
   KV (Key Visual) - KBO
   ======================================== */
[data-product='#{$theme-name}'] section.kv {
  .kv-swiper {
    .kv-slide {
      aspect-ratio: 1920 / 876;
      .kv-image {
        img {
          aspect-ratio: 1920 / 876;
        }
      }
      .kv-contents {
        position: absolute;
        top: 16.4%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1240px;
        text-align: center;
        padding: 0 20px;
        z-index: 10;

        .kv-title {
          margin-bottom: 2.1%;
          color: #Ffffff;
          text-align: center;
          font-size: clamp(40px, 3.11vw, 60px);
          font-weight: 600;
          letter-spacing: -0.96px;
          line-height: 1.2;
        }

        .kv-subtitle {
          font-size: clamp(16px, 1.24vw, 24px);
          font-weight: 400;
          color: #Ffffff;
          letter-spacing: -0.32px;
          max-width: 866px;
          margin: 0 auto;
        }
      }
    }
    @media screen and (max-width: 769px) {
      .kv-slide {
        aspect-ratio: 720 / 940;
        .kv-image img {
          aspect-ratio: 720 / 940;
        }
        .kv-contents {
          .kv-title {
            font-size: clamp(24px, 6.7vw, 48px);
            letter-spacing: -0.4px;
            margin-bottom: 9.4%;
          }

          .kv-subtitle {
            font-size: clamp(14px, 3.8vw, 22px);
            letter-spacing: -0.28px;
          }
        }
      }
    }
  }
}
