/* ========================================
   Theme Selectors - KBO
   ======================================== */
[data-product=kbo] .theme-selector {
  max-width: 1200px;
  margin: 0 auto;
}
[data-product=kbo] .theme-selector.buttons {
  justify-content: center;
}
[data-product=kbo] .theme-selector.buttons button {
  padding: 8px 12px;
  border-radius: 999px;
  color: #CFCFCF;
  border: 1px solid #5E5E5E;
  background-color: #3B3B3B;
}
[data-product=kbo] .theme-selector.buttons button::before {
  flex: none;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-image: url("../../../icons/icon_circle_unchecked_666.svg");
}
[data-product=kbo][data-current-theme="01"] button[data-theme="01"] {
  background-color: #EA0029;
  border-color: #EA0029;
}
[data-product=kbo][data-current-theme="02"] button[data-theme="02"] {
  background-color: #0032A0;
  border-color: #0032A0;
}
[data-product=kbo][data-current-theme="03"] button[data-theme="03"] {
  background-color: #A50034;
  border-color: #A50034;
}
[data-product=kbo][data-current-theme="04"] button[data-theme="04"] {
  background-color: #000038;
  border-color: #000038;
}
[data-product=kbo][data-current-theme="05"] button[data-theme="05"] {
  background-color: #231815;
  border-color: #231815;
}
[data-product=kbo][data-current-theme="06"] button[data-theme="06"] {
  background-color: #CF0022;
  border-color: #CF0022;
}
[data-product=kbo][data-current-theme="07"] button[data-theme="07"] {
  background-color: #D00F31;
  border-color: #D00F31;
}
[data-product=kbo][data-current-theme="08"] button[data-theme="08"] {
  background-color: #F05122;
  border-color: #F05122;
}
[data-product=kbo][data-current-theme="09"] button[data-theme="09"] {
  background-color: #071D3D;
  border-color: #071D3D;
}
[data-product=kbo][data-current-theme="10"] button[data-theme="10"] {
  background-color: #87001E;
  border-color: #87001E;
}
[data-product=kbo][data-current-theme="01"] .theme-selector.buttons button[data-theme="01"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="01"] .theme-selector.buttons button[data-theme="01"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="02"] .theme-selector.buttons button[data-theme="02"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="02"] .theme-selector.buttons button[data-theme="02"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="03"] .theme-selector.buttons button[data-theme="03"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="03"] .theme-selector.buttons button[data-theme="03"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="04"] .theme-selector.buttons button[data-theme="04"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="04"] .theme-selector.buttons button[data-theme="04"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="05"] .theme-selector.buttons button[data-theme="05"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="05"] .theme-selector.buttons button[data-theme="05"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="06"] .theme-selector.buttons button[data-theme="06"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="06"] .theme-selector.buttons button[data-theme="06"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="07"] .theme-selector.buttons button[data-theme="07"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="07"] .theme-selector.buttons button[data-theme="07"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="08"] .theme-selector.buttons button[data-theme="08"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="08"] .theme-selector.buttons button[data-theme="08"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="09"] .theme-selector.buttons button[data-theme="09"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="09"] .theme-selector.buttons button[data-theme="09"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
[data-product=kbo][data-current-theme="10"] .theme-selector.buttons button[data-theme="10"] {
  color: #ffffff;
}
[data-product=kbo][data-current-theme="10"] .theme-selector.buttons button[data-theme="10"]::before {
  background-image: url("../../../icons/icon_circle_checked_fff.svg");
}
@media screen and (max-width: 769px) {
  [data-product=kbo] .theme-selector.dropdown .theme-text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #171717;
    color: #fff;
  }
  [data-product=kbo] .theme-selector.dropdown .theme-text::before {
    flex: none;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  [data-product=kbo] .theme-selector.dropdown .theme-text::after {
    background-image: url("../../../icons/icon-angle-down_white.svg");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list {
    overflow-y: auto;
    transition-property: border;
    transition-delay: 0.1s;
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    color: #fff;
    background-color: #171717;
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li:hover {
    background-color: rgba(23, 23, 23, 0.4);
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li::before {
    flex: none;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="01"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_01.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="02"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_02.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="03"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_03.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="04"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_04.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="05"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_05.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="06"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_06.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="07"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_07.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="08"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_08.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="09"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_09.png");
  }
  [data-product=kbo] .theme-selector.dropdown .theme-list li[value="10"]::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_10.png");
  }
  [data-product=kbo] .theme-selector.dropdown.active .theme-list {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #171717;
    transition-delay: 0s;
  }
  [data-product=kbo][data-current-theme="01"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_01.png");
  }
  [data-product=kbo][data-current-theme="02"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_02.png");
  }
  [data-product=kbo][data-current-theme="03"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_03.png");
  }
  [data-product=kbo][data-current-theme="04"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_04.png");
  }
  [data-product=kbo][data-current-theme="05"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_05.png");
  }
  [data-product=kbo][data-current-theme="06"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_06.png");
  }
  [data-product=kbo][data-current-theme="07"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_07.png");
  }
  [data-product=kbo][data-current-theme="08"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_08.png");
  }
  [data-product=kbo][data-current-theme="09"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_09.png");
  }
  [data-product=kbo][data-current-theme="10"] .theme-selector.dropdown .theme-text::before {
    background-image: url("../../../images/kia/pdp/kbo/sec02_imgicon_10.png");
  }
}
/*# sourceMappingURL=theme-selectors-kbo.css.map */
