/* ========================================
   Discover Playful Designs - Marvel
   ======================================== */
[data-product='marvel'] {
  &[data-current-theme='01'], &[data-current-theme='02'] {
    section.playful {
      background-color: #1a2729;
      .playful-wrapper::before {
        background-image: url('../../../images/kia/pdp/marvel/marvelth02_disc_bg.png');
      }
    }
  }

  &[data-current-theme='03'] {
    section.playful {
      background-color: #1a2729;
      .playful-wrapper::before {
        background-image: url('../../../images/kia/pdp/marvel/marvelth03_disc_bg.png');
      }
    }
  }
}

@media screen and (max-width: 769px) {
  [data-product='marvel'] {
    &[data-current-theme='01'],
    &[data-current-theme='02'] {
      section.playful {
        .playful-wrapper::before {
          background-image: url('../../../images/kia/pdp/marvel/marvelth02_disc_bg_mo.png');
        }
      }
    }

    &[data-current-theme='03'] {
      section.playful {
        .playful-wrapper::before {
          background-image: url('../../../images/kia/pdp/marvel/marvelth03_disc_bg_mo.png');
        }
      }
    }
  }
}
