/* ========================================
   Themes - Marvel
   ======================================== */
[data-product=marvel] .themes-stage {
  position: relative;
  margin-bottom: -45px;
  padding: 70px 0 116px;
  background-image: url("../../../images/kia/pdp/marvel/sec02_cardlist_bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: repeat;
  z-index: 1;
}
[data-product=marvel] .themes-stage::after {
  display: none;
}
[data-product=marvel] .themes-stage .themes-stage-inner {
  width: 100%;
}
[data-product=marvel] .themes-stage .themes-cards-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
}
[data-product=marvel] .themes-stage .card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 282px;
  isolation: isolate;
  transform: translateZ(0);
  transition: transform 0.3s ease;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
}
[data-product=marvel] .themes-stage .card .card-layer {
  display: block;
  transition: opacity 0.3s ease, visibility 0.3s;
  width: 100%;
  height: auto;
  aspect-ratio: 282/156;
}
[data-product=marvel] .themes-stage .card .card-layer img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
  opacity: 0.3;
}
[data-product=marvel] .themes-stage .card .card-contents {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
  padding: 7.1% 8.5%;
}
[data-product=marvel] .themes-stage .card .card-contents h3 {
  width: 100%;
  color: #999999;
  font-size: clamp(18px, 1.5cqw, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}
[data-product=marvel] .themes-stage .card .card-contents p {
  width: 100%;
  color: #CCCCCC;
  font-size: clamp(12px, 1.2cqw, 16px);
}
[data-product=marvel] .themes-stage .card.pick {
  align-items: center;
  justify-content: center;
  background-color: #F2F4F6;
}
[data-product=marvel] .themes-stage .card.pick .card-contents {
  justify-content: center;
  align-items: center;
  gap: 8px;
}
[data-product=marvel] .themes-stage .card.pick .card-contents img {
  width: auto;
  height: auto;
}
[data-product=marvel] .themes-stage .card.pick .card-contents h3 {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.32px;
  color: #b2b8bd;
}

[data-product=marvel][data-current-theme="01"] .card[data-theme="01"] .card-layer img,
[data-product=marvel][data-current-theme="02"] .card[data-theme="02"] .card-layer img,
[data-product=marvel][data-current-theme="03"] .card[data-theme="03"] .card-layer img,
[data-product=marvel][data-current-theme="04"] .card[data-theme="04"] .card-layer img {
  opacity: 1;
}
[data-product=marvel][data-current-theme="01"] .card[data-theme="01"] .card-contents h3,
[data-product=marvel][data-current-theme="02"] .card[data-theme="02"] .card-contents h3,
[data-product=marvel][data-current-theme="03"] .card[data-theme="03"] .card-contents h3,
[data-product=marvel][data-current-theme="04"] .card[data-theme="04"] .card-contents h3 {
  color: #000000;
}
[data-product=marvel][data-current-theme="01"] .card[data-theme="01"] .card-contents p,
[data-product=marvel][data-current-theme="02"] .card[data-theme="02"] .card-contents p,
[data-product=marvel][data-current-theme="03"] .card[data-theme="03"] .card-contents p,
[data-product=marvel][data-current-theme="04"] .card[data-theme="04"] .card-contents p {
  color: #000000;
}

@media screen and (max-width: 769px) {
  [data-product=marvel] .themes-stage {
    padding: 31px 0 53px;
    background-image: url("../../../images/kia/pdp/marvel/sec02_cardlist_bg_mo.png");
  }
  [data-product=marvel] .themes-stage .themes-cards-grid {
    width: fit-content;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: clamp(8px, 2cqw, 24px);
  }
  [data-product=marvel] .themes-stage .card .card-layer {
    aspect-ratio: 312/184;
  }
  [data-product=marvel] .themes-stage .card .card-contents {
    padding: 5.5% 10%;
    gap: 16px;
  }
  [data-product=marvel] .themes-stage .card .card-contents h3 {
    font-size: clamp(14px, 2.6cqw, 20px);
  }
  [data-product=marvel] .themes-stage .card .card-contents p {
    font-size: clamp(10px, 1.8cqw, 16px);
    letter-spacing: -0.2px;
  }
  [data-product=marvel] .themes-stage .card.pick .card-contents img {
    width: 36px;
  }
  [data-product=marvel] .themes-stage .card.pick .card-contents h3 {
    font-size: 10px;
  }
}
/*# sourceMappingURL=themes-marvel.css.map */
