/* ========================================
   N Reasons Why you can’t miss out - Starwars
   ======================================== */

[data-product='starwars'] section.reasons-n {
  .reason-n-item:nth-child(2) .reason-n-image {
    .foldable-list {
      display: block;
    }
    > img {
      display: none;
    }
  }
}

@media screen and (max-width: 769px) {
  [data-product='starwars'] section.reasons-n {
    .reason-n-item:nth-child(2) .reason-n-image {
      .foldable-list {
        display: none;
      }
      > img {
        display: block;
      }
    }
  }
}
