/* ========================================
   Themes - Starwars
   ======================================== */
[data-product='starwars'] .themes-stage {
  position: relative;
  margin-bottom: 0;
  padding: 66px 0;
  background-image: url('../../../images/kia/pdp/starwars/cardbg.png');
  background-size: cover;
  &::after {
    background-color: #030403;
  }

  .themes-stage-inner {
    width: 100%;
    max-width: 1694px; /* 6 cards: 6*259 + 5*20 + 40 = 1694 */
  }

  .themes-cards-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 20px;
    margin: 0 auto;
    list-style: none;
  }

  .card {
    position: relative;
    width: 100%;
    max-width: 259px;
    aspect-ratio: 264 / 292;
    isolation: isolate;
    transform: translateZ(0);
    transition: transform 0.3s ease;

    .card-layer {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      transition:
        opacity 0.3s ease,
        visibility 0.3s;
      width: 100%;
      height: auto;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        -webkit-user-drag: none;
        user-select: none;
      }
    }

    .card-contents {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 1;
      aspect-ratio: 317 / 188;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      padding: 5.1% 10% 7.5% 10%;
      h3 {
        width: 100%;
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.3;
      }
      p {
        width: 100%;
        color: #000;
        font-size: 14px;
        @media screen and (max-width: 1528px) {
          font-size: 12px;
        }
      }
    }
  }


}

@for $i from 1 through 6 {
  $theme: "0" + $i;
  [data-product='starwars'][data-current-theme='#{$theme}'] {
    .card[data-theme='#{$theme}'] {
      .layer-active { opacity: 1; visibility: visible; }
      .layer-inactive { opacity: 0; visibility: hidden; }
      .card-contents p { color: #888888; }
    }
  }
}

[data-product='starwars'] {
  .card .layer-active { opacity: 0; visibility: hidden; }
  .card .layer-inactive { opacity: 1; visibility: visible; }
}

@media screen and (max-width: 769px) {
  [data-product='starwars'] .themes-stage {
    padding: 92px 0;
    background-image: url('../../../images/kia/pdp/starwars/cardbg_mo.png');
    background-size: cover;

    .themes-cards-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 8px;
    }

    .card {
      max-width: 624px;
      /* 312 × 386 */
      min-width: 156px;
      min-height: 193px;
      aspect-ratio: 312 / 386;

      .card-contents {
        aspect-ratio: 312 / 224;
        padding: 5.2% 10% 9% 10%;
        h3 {
          font-size: clamp(14px, 2.6cqw, 20px);
        }
        p {
          font-size: clamp(10px, 1.8cqw, 16px);
          letter-spacing: -0.2px;
        }
      }
    }


  }
}
