/* @import 규칙은 CSS 파일의 맨 처음에 와야 합니다.
  모든 CSS 파일을 이 파일 하나로 통합합니다.
*/
/* 2. 'details' 페이지 관련 스타일 */
@import url('details/product.css');
@import url('details/key_visual.css');
@import url('details/themes.css');
@import url('details/playful.css');
@import url('details/reasons.css');
@import url('details/credit.css');
@import url('details/theme-selector.css');
@import url('details/screenshots.css');

/* 3. 'section' 스타일 */
@import url('section/info.css');
@import url('section/upgrade_guides.css');
@import url('section/disclaimer.css');
@import url('section/related_feature.css');
